body {
    font-family: 'Noto Sans TC', sans-serif;
}

.seat {
    width: 200px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: bold;
    border-radius: .5em;
}

.empty {
    background-color: #eee;
}

.occupied {
    background-color: #f40000;
    color: #fff;
}

.selected {
    background-color: rgb(123 194 123);
}